// -------------------------------------------------
// This file contains all @font-face declarations.
// -------------------------------------------------

// Poppins
@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Poppins/poppins-light.woff) format("woff");
}

// Add other @font-face decelerations here
