// -------------------------------------------------
// This file contains CSS custom properties.
// -------------------------------------------------

@use "../abstracts/" as *;

:root {
  // Colors
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --clr-#{$color}-#{$shade}: #{$value};
    }
  }

  // Note: Use `inspect` for lists so that quoted items keep the quotes.
  // Font Family
  --ff-primary: #{inspect($ff-primary)};
  --ff-secondary: #{inspect($ff-secondary)};
  --ff-body: #{ff("primary")};
  --ff-heading: #{ff("secondary")};
  --ff-lead: #{ff("primary")};
  --ff-button: #{ff("primary")};

  // Font Sizes
  @each $size, $value in $font-sizes {
    --fs-#{$size}: #{$value};
  }

  --fs-body: #{$fs-body};
  --fs-heading: #{$fs-heading};
  --fs-lead: #{$fs-lead};
  --fs-button: #{$fs-button};

  // Font Weights
  @each $weight, $value in $font-weights {
    --fw-#{$weight}: #{$value};
  }

  // Spacers
  @each $spacer, $value in $spacers {
    --spacer-#{$spacer}: #{$value};
  }

  --gap: #{$gap};

  --transition: #{$transition};

  --shadow: #{$shadow};
  --shadow-sm: #{$shadow-sm};
  --shadow-lg: #{$shadow-lg};
}
